{% extends "leffalippu/base.html" %}

{% block content %}
    <h1>Osta leffalippuja edullisesti</h1>

    <form method="post" action="">
      {% csrf_token %}
      {{ category_formset.management_form }}
      <table>
        <thead>
          <tr>
            <th>Lippu</th>
            <th>Hinta</th>
            <th>Määrä</th>
            <th>Saatavilla</th>
          </tr>
        </thead>
        <tbody>
          {% for form in category_formset %}
          <tr>
            <td>{{ form.instance.category.name }}{{ form.fields.category.initial.name }}{{ form.category }}</td>
            <td>{{ form.instance.category.price }}{{ form.fields.category.initial.price }}</td>
            <td>
            <input type="button" 
                   value="+" 
                   class="qtyplus"
                   field="{{ form.amount.html_name }}"
                   maxvalue="{{ form.fields.amount.max_value }}" />
            <input type="text" 
                   name="{{ form.amount.html_name }}" 
                   value="{{ form.amount.value }}" 
                   class="qty" 
                   maxlength="1" 
                   {# onchange="update_total_amount()" #}
            />
            <input type="button" 
                   value="-" 
                   class="qtyminus" 
                   field="{{ form.amount.html_name }}" 
                   minvalue="{{ form.fields.amount.min_value }}" />
            </td>
            <td>{{ form.fields.amount.available }}</td>
            <td>{{ form.amount.errors }}{{ form.non_field_errors }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <!--
        <tfoot>
          <tr>
            <td>Yhteensä</td>
            <td id="total_amount"></td>
            <td></td>
            <td></td>
            <td>{{ category_formset.non_form_errors }}</td>
          </tr>
        </tfoot>
        -->
      </table>
      {{ category_formset.non_form_errors }}
      {{ order_form.non_field_errors }}
      <div class="fieldWrapper">
        <label for="id_email">Sähköposti:</label>
        {{ order_form.email }} {{ order_form.email.errors }}
      </div>
      <div class="fieldWrapper">
        {{ order_form.captcha }} {{ order_form.captcha.errors }}
      </div>
      <input type="submit" value="Osta liput" />
      {# {{ order_form }} #}
    </form>

{% endblock %}

{% block javascript %}
<script>
$('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');

    $.getJSON($(this).data('url'), {}, function(json) {
        // This your should update captcha image src and captcha hidden input
    });

    return false;
});

   // This button will increment the value
    $(".qtyplus").click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get the maximum value
        maxValue = parseInt($(this).attr('maxvalue'));
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // and it's less than the max value
            if (currentVal < maxValue) {
              // Increment
              $('input[name='+fieldName+']').val(currentVal + 1);
            } else {
              $('input[name='+fieldName+']').val(maxValue);
            }
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
        //update_total_amount();
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get the minimum value
        minValue = parseInt($(this).attr('minvalue'));
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > minValue) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(minValue);
        }
    });
    function update_total_amount()
    {
        document.getElementById("total_amount").innerHTML = 'MORO!';
    }
</script>

{% endblock %}
