{% extends "leffalippu/base.html" %}

{% block content %}
    <h1>Osta leffalippuja edullisesti bitcoineilla</h1>

    <div class="alert">HUOM! Palvelu ei ole vielä toiminnassa eikä kelvollisia lippuja ole vielä myynnissä.</div>

    <form method="post" action="" class="well form-inline">
      {% csrf_token %}
      {{ category_formset.management_form }}
      <table class="table">
        <thead>
          <tr>
            <th>Lippu</th>
            <th>Hinta</th>
            <th>Määrä</th>
            <th>Saatavilla</th>
          </tr>
        </thead>
        <tbody>
          {% for form in category_formset %}
          <tr>
            <td>{{ form.instance.category.name }}{{ form.fields.category.initial.name }}{{ form.category }}</td>
            <td>{{ form.instance.category.price_in_euros|stringformat:".2f" }}{{ form.fields.category.initial.price_in_euros|stringformat:".2f" }}€</td>
            <td>
            <input type="button" 
                   value="+" 
                   class="qtyplus btn btn-mini"
                   field="{{ form.amount.html_name }}"
                   maxvalue="{{ form.fields.amount.max_value }}" />
            <input type="text" 
                   name="{{ form.amount.html_name }}" 
                   value="{{ form.amount.value }}" 
                   class="qty span1" 
                   maxlength="1" />
            <input type="button" 
                   value="-" 
                   class="qtyminus btn btn-mini" 
                   field="{{ form.amount.html_name }}" 
                   minvalue="{{ form.fields.amount.min_value }}" />
            <div class="alert-error">
              {{ form.amount.errors }}{{ form.non_field_errors }}
            </div>
            </td>
            <td>{{ form.fields.amount.available }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <!--
        <tfoot>
          <tr>
            <td>Yhteensä</td>
            <td id="total_amount"></td>
            <td></td>
            <td></td>
            <td>{{ category_formset.non_form_errors }}</td>
          </tr>
        </tfoot>
        -->
      </table>
      <div class="alert-error">
        {{ category_formset.non_form_errors }}
        {{ order_form.non_field_errors }}
      </div>
      <div class="fieldWrapper">
        <label for="id_email">Sähköposti:</label>
        {{ order_form.email }}
        <div class="alert-error">
          {{ order_form.email.errors }}
        </div>
      </div>
<!--      <div class="fieldWrapper">
        {{ order_form.captcha }} {{ order_form.captcha.errors }}
      </div> -->
<br/>
      <div>
        <input type="submit" value="Tilaa liput" class="btn-primary btn"/>
      </div>
      {# {{ order_form }} #}
    </form>

<hr>

      <footer id="footer">
        <div class="links">
          
        </div>
        Ota yhteyttä <a href="mailto:info@leffalippu.fi">info@leffalippu.fi</a>.
        <br/>

        Copyright 2013 Jaakko Luttinen.

        Lisenssi <a href="http://www.gnu.org/licenses/agpl-3.0.txt">GNU AGPLv3</a>.
        Lähdekoodi saatavilla <a href="https://github.com/jluttine/leffalippu.fi/">GitHub</a>-palvelussa.<br/>
      </footer>

{% endblock %}

{% block javascript %}
<script>
$('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');

    $.getJSON($(this).data('url'), {}, function(json) {
        // This your should update captcha image src and captcha hidden input
    });

    return false;
});

   // This button will increment the value
    $(".qtyplus").click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get the maximum value
        maxValue = parseInt($(this).attr('maxvalue'));
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // and it's less than the max value
            if (currentVal < maxValue) {
              // Increment
              $('input[name='+fieldName+']').val(currentVal + 1);
            } else {
              $('input[name='+fieldName+']').val(maxValue);
            }
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
        //update_total_amount();
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get the minimum value
        minValue = parseInt($(this).attr('minvalue'));
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > minValue) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(minValue);
        }
    });
    function update_total_amount()
    {
        document.getElementById("total_amount").innerHTML = 'MORO!';
    }
</script>

{% endblock %}
