{% extends "leffalippu/base.html" %}

{% block content %}

<p>Kiitos tilauksestasi!</p>

<p>
Tilausvahvistus ja lasku on lähetetty sähköpostiosoitteeseen {{ order.email }}. 
Maksettuasi laskun bitcoineilla 15 minuutin kuluessa lähetämme elokuvalippusi sähköpostitse.
Mikäli emme vastaanota maksuasi 15 minuutin kuluessa, tilaus peruuntuu automaattisesti.
</p>

<p>
Tilauksen sisältö:
<ul>
{% for orderedtickets in order.orderedtickets_set.all %}
<li>{{ orderedtickets.amount }} x {{ orderedtickets.category }}</li>
{% endfor %}
</ul>
Yhteensä: {{ order.price_in_euros }}€
</p>

<p><a href="{% url 'order' %}">Palaa takaisin etusivulle.</a></p>

<p>Voit myös <a href="{% url 'cancel' order.encrypted_pk %}">perua tilauksen</a>.</p>

{% endblock %}
