<!DOCTYPE html>
<html lang="fi">
  <head>
    <title>{% block title %}Elokuvalippuja edullisesti{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen">
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}
    {# <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet"> #}
    <link rel="shortcut icon" href="{{ STATIC_URL }}faviconb.ico" />
  </head>
  <body>

    <div class="container">

    <header>
      {% block header %}
      {% endblock %}
    </header>

    <section>
      {% block content %}
      {% endblock %}
    </section>

    <hr>

    <footer>
      {% block footer %}
      Ota yhteyttä <a href="mailto:info@leffalippu.fi">info@leffalippu.fi</a>.

      Y-tunnus TBA.
      <br/>

      Copyright 2013 Jaakko Luttinen.

      Lähdekoodi saatavilla <a href="https://github.com/jluttine/leffalippu.fi/">GitHub</a>-palvelussa.
      Lisenssi <a href="http://www.gnu.org/licenses/agpl-3.0.txt">GNU AGPLv3</a>.
      <br/>

      {% endblock %}
    </footer>

    </div>

    <script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block javascript %}
    {% endblock %}

  </body>
</html>
